# SOL of HW LAST WEEK

# Q1: 用python算算看 $\frac{1}{\sqrt{2\pi}} \times e^\frac{-x^2}{2}$ 當 x = 0 x=1.96 x=1000 時的數值

In [ ]:
#Q1 sol
import numpy as np
x = float(input())
ans = 1/np.sqrt(2*np.pi)*np.exp(-x**2/2)
print(ans)

# Q2 : 已知我們可以用 a = list(range(1,n+1)) 快速創造包含1~n的list，用a算出n!的值和 (n-k)!的值 ，當 n,k=2,1 n,k=10,5 n,k=10,7

In [ ]:
#Q2 sol
import numpy as np
n = int(input())
k = int(input())
a = list(range(1,n+1))
#n!
ans1 = np.prod(a)
#(n-k)
a2 = list(range(1,n+1-k))
ans2 = np.prod(a2)
print(ans1,ans2)

10
5
3628800 120

# Q3 : 用python的判斷式，驗證 $  log_{10}(a)  = \frac{log_e(a)}{log_e(10)}$ 當 a = 2 a=35 a=$2^{10}$

In [ ]:
#Q3 sol
import numpy as np
a = int(input())
print(np.log10(a) == np.log(a)/np.log(10))
print(np.log10(a))
print(np.log(a)/np.log(10))
# we sholud consider error in program 考慮誤差，若絕對值誤差小於小數點第三位，則接受
print(abs(np.log10(a) - np.log(a)/np.log(10))<0.001)
#or use round 例如下面是取到小數第三位就進位
print(round(np.log10(a),3)==round(np.log(a)/np.log(10),3))

2
False
0.3010299956639812
0.30102999566398114
True
True

# Q4: 對 $2^1到2^{10}取10餘數$ ，並且將這些餘數放到同一個list裡面，你觀察到了什麼？（提示：a=list() or a=[]可以創造空list。）

In [ ]:
a = []
a.append(2%10)
a.append(2**2%10)
a.append(2**3%10)
a.append(2**4%10)
a.append(2**5%10)
a.append(2**6%10)
a.append(2**7%10)
a.append(2**8%10)
a.append(2**9%10)
a.append(2**10%10)
a

[2, 4, 8, 6, 2, 4, 8, 6, 2, 4]

In [ ]:
n = list(range(1,11))

# We will review input, list, conditional statement(判斷式), function first

## input

In [ ]:
type(input())

1

str

In [ ]:
#Note that it cannot do mathematical operations.
a = input()
b = input()
a+b

1
2

'12'

In [ ]:
#Casting
type(int(input()))

1

int

In [ ]:
#After casting the type of input into int or float, we can do math operations.
a = int(input())
b = float(input())
a+b

1
2

3.0

## list

In [ ]:
a = [1,2,3,4]

In [ ]:
type(a)

list

In [ ]:
a = []
type(a)

list

In [ ]:
a.append(1)

In [ ]:
a

[1]

In [ ]:
a[0]

1

In [ ]:
a.index(1)

0

In [ ]:
a.remove(1)

In [ ]:
a

[]

In [ ]:
a = [1]
a.pop(a.index(1))

1

In [ ]:
a

[]

## 判斷式

In [ ]:
a = 1
b = 2
a==b

False

In [ ]:
a!=b

True

In [ ]:
a = [1,2,3]
print(1 in a)
print(4 in a)

True
False

## function

In [ ]:
def f(x):
    return(x**2)

In [ ]:
f(5)

25

In [ ]:
def f(x):
    print(x**2)

In [ ]:
f(5)

25

In [ ]:
def equal():
    a = int(input())
    b = int(input())
    return(a==b)

In [ ]:
equal()

2
3

False

### Q1:建立一個能夠自動判斷2**k/10的餘數是否等於 6**k/10的餘數的函數，用k=1,k=10,k=20,k=24去試試看。

In [ ]:
def equal():
  a=2k/10
  b=

## If else and elif

## if else elif函數可以讓程式去判斷是否有滿足你所設定的函數，並且做出相對應的措施

### if

In [ ]:
a = int(input())
if a==2 :
    print(a,"is two")

2
2 is two

In [ ]:
a = [1,3,2,4]
b = int(input())
if b in a :
    print("the list has",b)

2
the list has 2

### else 用於如果不滿足你所設定的情況 我們該怎麼辦

In [ ]:
a = int(input())
if a==2 :
    print(a,"is two")
else :
    print(a,"is not equal to two")

3
3 is not equal to two

In [ ]:
a = [1,3,2,4]
b = int(input())
if b in a :
    print("the list has",b)
else :
    print("the list does not have",b)

10
the list does not have 10

In [ ]:
a = int(input())
b = int(input())
if a==2 and b==3:
    print(a,"is two",b,"is three")
else :
    print("either",a,"is not equal to two","or",b,"is not equal to three or neither")

2
4
either 2 is not equal to two or 4 is not equal to three or neither

#### 型別判斷器

In [ ]:
def type_test(test):
    if type(test) == int or type(test) == float:
        return(test,"is a number")
    else:
        return(test,"is not a number")

In [ ]:
type_test(1)

1 is a number

In [ ]:
type_test("s")

s is not a number

#### 判斷成績是否及格

In [ ]:
def PnF(score):
    if score >= 60  :
        return("Congrats, you pass the course!")
    else:
        return("Sorry, you fail the course.")

In [ ]:
PnF(100)

'Congrats, you pass the course!'

In [ ]:
PnF(59)

'Sorry, you fail the course.'

In [ ]:
PnF(60)

'Congrats, you pass the course!'

#### 判斷某個自然數k是否為2的倍數

In [ ]:
def two_multi(k):
    if k%2 == 0:
        return(k,"is the multiples of 2")
    else:
        return(k,"is not the multiples of 2")

In [ ]:
two_multi(2)

(2, 'is the multiples of 2')

In [ ]:
two_multi(1023)

(1023, 'is not the multiples of 2')

### Q2:請判斷某個自然數k是否為3的倍數, 用k = 27 , k=6**10,k=7!試試看

### elif 用於當你有多個互斥的條件時，可以使用。

In [ ]:
a = int(input())
if a==2 :
    print(a,"is two")
elif a == 3:
    print(a,"is three")
else :
    print(a,"is not two or three")

2
2 is two

#### 型別判斷器優化版

In [ ]:
def type_test(test):
    if type(test) == int:
        return(test,"is a integer")
    elif type(test) == float:
        return(test,"is a decimal")
    elif type(test) == str:
        return(test,"is a word")
    else :
        return(test,"is not a integer, decimal or word")

In [ ]:
type_test(2)

(2, 'is a integer')

In [ ]:
type_test(2.1)

(2.1, 'is a decimal')

In [ ]:
type_test("2")

('2', 'is a word')

In [ ]:
type_test([])

([], 'is not a integer, decimal or word')

#### GPA計算機

In [ ]:
def GPA_cal(score):
    if score>= 90:
        return(4.0)
    elif 80<=score<90:
        return(3.0)
    elif 70<=score<80:
        return(2.0)
    elif 60<=score<70:
        return(1.0)
    else:
        return(0)

In [ ]:
GPA_cal(81)

3.0

### Q3:今年小明想要上政大，已知國英數的加權權重W=[1,1.5,2]，小明的分數為S=[70,83,100]，小明想要進入的校系與其錄取標準為D={"金融系":398.85,"經濟系":377.75,"財管系":399.80}，請問小明能錄取哪些系呢？用if elif和else做做看。

### Nested if 用在當你在條件裡面，還要分情況時

In [ ]:
### 判斷a,b是否都等於1
def equal(a,b):
    if a==1:
        if b == 1:
            print("a and b equal to 1")
        else :
            print("b is not equal to 1")
    else:
        print("a is not equal to 1")

In [ ]:
equal(1,1)

a and b equal to 1

In [ ]:
equal(1,2)

b is not equal to 1

In [ ]:
equal(2,1)

a is not equal to 1

In [ ]:
### 找最大值
def fmax(a,b,c):
    max1 = 0
    if a>b:
        if a>c:
            max1 = a  
        else :
            max1 = c
    else:
        if b>c:
            max1 = b
        else:
            max1 = c
    print("the max is ",max1)

In [ ]:
fmax(10,222,30)

the max is  222

### Q4: 試試看寫一個函數去判斷四個數字之間的最小值。用 (1,2,3,4)去測試看看你的函數是否正確。

### HW

## Q1:請寫一個函數去判斷，一個自然數k，是否同時為2跟3的倍數。用k = 10,1620,13!試試看。

## Q2:請寫一個函數去判斷，一個自然數k，是否為(1)7的倍數 (2)13的倍數。用k=52,k=91,k=10920,k=13!試試看。

#### HINT：可以用list去做判斷，會快很多，注意，k可能同時為7和13的倍數。

## Q3:今天有一家餐廳，這家餐廳的收入和成本當天溫度有關係，如果當天會虧損，則餐廳就不開門了。
## 假設
## 收入$ I = e^{-t^2+\frac{1}{t}} + \frac{100}{t}$ 
## 成本 $C =1+log_e{( t^2+t+1)}$
## 請問溫度為 (1) t=0.1 (2) t= 10 (3) t=15 (4) t=25 時 ， 餐廳會開門嗎？

## Q4：承上提，如果我們將C分解為FC和VC，其中FC = 1 ,  $ VC =log_e{( t^2+t+1)}$ ，現在，若I>=VC就會開門，請判斷，當溫度為(1) t = 0.1 (2) t=10 (3) t=15 (4) t=25時，餐廳會開門嗎？如果會開門的話，餐廳今天是否有賺錢？

## Q5: 試著寫一個函數去排序三個數字的大小。用(1,2,3) (3,2,1) (2,1,3)去測試看看你的函數是否正確。